body {
    background-color: #fff;
    margin-top: 0px;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #222;
    color: #fff;
    justify-content: center;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    transition: height 0.7s ease;
    height: 240px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.3);
    z-index: 999;
}
header .img-and-occ {
    display: grid;
    justify-content: center;
}
header .img-and-occ img {
    margin-top: 20px;
    border-radius:50% ;
    border: 2px solid orange;
    object-fit: cover;
    transition: height 0.6s ease;
    transition: width 0.61s ease;
}
header .img-and-occ h2 {
    font-size: 18px;
}
.navigation-bar {
    height:86px;
    width: 95%;
    margin-left: 2%;
    position: relative;
    background-color: darkgrey;
    border: 2px solid #000;
    transition: margin-top 0.5s ease-in-out;
    border-radius: 30px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.2);

    display: flex;
    overflow: auto;
}
.navigation-bar::-webkit-scrollbar {
    display: none;
}
.navigation-bar .container {
    height: 50px;
    width: 120px;
    background-color: #f9f9f9;
    margin-top: 15px;
    border-radius: 15px;
    margin-left: 10px;
    color:#242424;

    padding: 4px;
    transition: padding 0.1s ease;
}
.navigation-bar .container:hover {
    padding: 2px;
    background-color: #222;
    color: yellow;
    box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.6);
}
.navigation-bar .container h3 {
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    overflow: hidden;
}
.navigation-bar a {
    text-decoration: none;
}
#element-8 {
    margin-right: 10px;
}
.main {
    height: 500px;
    width: 98%;
    margin-left: 1%;
    background-color: #fff;
    margin-top: 35px;
    border: 1px solid  rgba(36, 36, 36, 0.3);
    border-left: 5px solid #000;
    border-bottom:  3px solid #000;;
    border-radius: 7px;
}

.main .about {
    margin-left:10px;
    margin-top: 5px;
}
.main .about h1 {
    margin:0px;
    margin-left: 15px;
}
.main .about hr {
    width: 98%;
    margin-top: 0px;
    border: 2px solid  rgba(36, 36, 36, 0.1);
    
}
.main .about p {
    font-size: 18px;
    margin-left:20px;
}