{% extends "base.html" %}
    <head>
        {% block style-element %}
            <style>
                #element-8 {
                    background-color: lightgreen;
                    color: #000;
                    padding: 2px;
                }
                #element-8:hover {
                    background-color: green;
                    color: #fff;
                }
            </style>
        {% endblock style-element %}
    </head>
    <body>
        {% block main-content %}
        <div class="contact">    
            <h1>Contact-Me</h1>
            <hr>
        </div>
        {% endblock main-content %}
    </body>